<!DOCTYPE html>
<html>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <% flash.each do |type, msg| %>
            <div class="alert alert-info">
              <%= msg %>
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <div class="container mt-5">
      <div class="d-flex justify-content-center align-items-center">


          <form action="create" method="post" >



            <div class="d-flex justify-content-center align-items-center">
              <div class="form-group col-md-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name=email>
              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <div class="form-group col-md-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name=password>
              </div>
            </div>

            <div class="d-flex">
              <div class="form-group col-md-10">
              <button type="submit" class="btn btn-primary">Se Connecter</button>
              </div>
            </div>
          </form>
      </div>
    </div>

  </body>
</html>