<!DOCTYPE html>
<html>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">

          <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |message| %>
              <div class="alert alert-primary" role="alert">
                <%= message %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="container mt-5">
      <div class="d-flex justify-content-center align-items-center">

          <form action="create" method="post" >

            <div class="d-flex justify-content-center align-items-center">

              <div class="form-group col-md-3">
                <label for="first_name">Prénom</label>
                <input type="text" class="form-control" id="first_name" name=first_name>
              </div>

              <div class="form-group col-md-3">
                <label for="last_name">Nom</label>
                <input type="text" class="form-control" id="last_name" name=last_name>
              </div>

              <div class="form-group col-md-2">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" name=age>
              </div>

            </div>

            <div class="d-flex justify-content-center align-items-center">
              <div class="form-group col-md-6">
                <label for="description">Bio</label>
                <input type="text" class="form-control" id="description" name=description>
              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name=email>
              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name=password>
              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <div class="form-group col-md-6">
              <button type="submit" class="btn btn-primary">S'enregistrer</button>
              </div>
            </div>
          </form>
      </div>
    </div>

  </body>
</html>

