<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<center>
  <br/><br/>
  <h2>BIENVENUE <%= @user %>  ! Ici c'est notre super site de potins, il est chouette, non ? </h2>
</center>